@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: cursive;
}

/* Header Styles */

header {
    background-color: black;
    color: white;
    padding: 100px 0;
    text-align: center;
    width: 100%;
}

header h1 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: uppercase;
}

header > p > a {
    color: white;
    text-decoration: none;
}

header > p > a:hover {
    color: #ccc;
    text-decoration: underline;
}

@media screen and (max-width: 700px) {
    header {
        padding: 50px 0;
    }
    header h1 {
        font-size: 1.5em;
    }
    header > p {
        font-size: 0.9em;
    }
    header > p > a {
        font-size: 0.9em;
    }
}

/* Main Style */

main > article {
    padding: 50px 30px;
}

main > article > ul {
    margin: 50px 0;
    padding: 5px;
}

main li {
    font-size: 1.2em;
    font-weight: bold;
    list-style: none;
    margin-bottom: 10px;
}

/* Containers com imagem */
article.container-imagem {
    background-attachment: fixed;
    background-position: center center;
}

article.container-imagem ul {
    background-color: rgba(0, 0, 0, 0.300);
    color: white;
    display: inline-block;
}

/* Primeiro container com imagem */
article#primeira-imagem {
    background-image: url('images/img-002.jpg');
}

/* Segundo container com imagem */
article#segunda-imagem {
    background-image: url('images/img-001.jpg');
}

/* Footer Style */
footer {
    background-color: black;
    color: white;
    padding: 10px 0;
    text-align: center;
}

footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    color: #ccc;
    text-decoration: underline;
}